:host {
  display: block;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.mobile-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
