.button {
  cursor: pointer;
  padding: 1rem 2rem;
  background: var(--color-background);
  color: var(--color-foreground);
  border: 2px solid var(--color-foreground);
  text-transform: uppercase;
  white-space: nowrap;

  &:disabled {
    color: var(--color-background);
  }
}
