:host {
  width: 80%;
  min-width: 500px;
  height: 90%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.description {
  padding: 0 2rem 1rem;
}

.grid {
  flex: 1;
  overflow: hidden;
}
